* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-weight: 400;
}

body {
  width: 100vw;
  background: linear-gradient(to top, #0347a0, #011a3a);
}

/* COMPONENTS styles */

.nav {
  display: flex;
}

.nav .logo {
  background: -webkit-linear-gradient(180deg, #011A3A 62%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  padding: 15px;
  font-size: 28px;
}

.nav .actionBtns {
  width: 50%;
  padding: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .actionBtns .login {
  background: -webkit-linear-gradient(180deg, #011A3A 00%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.nav .actionBtns .signup {
  background: -webkit-linear-gradient(180deg, #011A3A 00%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.dividerContanior {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider {
  /* width: 91px; */
  height: 3px;
  background: linear-gradient(to right, #0347A0, #011a3a);
  border-radius: 10px;
}



/* Pages Styles */

/* Home page */

/* Intro section */

.introSection {
  padding: 30px 25px;
}

.introSection .introductionSection .big1 {
  background: -webkit-linear-gradient(180deg, #011A3A 60%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.introSection .introductionSection .big2 {
  background: -webkit-linear-gradient(180deg, #011A3A 35%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  margin-top: 8px;
}

.introSection .introductionSection .big3 {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  margin-top: 8px;
}

.introSection .actionSection .playNow {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin: 40px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.introSection .actionSection .playNow #playIcon {
  color: #0347a036;
}

/* Features and Rules section */

.featuresAndRules {
  margin: 25px;
}

.securedPayment {
  margin: 25px;
}

.featuresAndRules .featuresSection .topic,
.featuresAndRules .rulesSection .topic,
.securedPayment .topic,
.getinTouch .topic {
  color: #0958c0bb;
  font-size: 24px;
  margin: 40px 0 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.securedPayment .topic {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featuresAndRules .featuresSection .feature,
.featuresAndRules .rulesSection .rule,
.securedPayment .secure {
  color: #0347A0;
  margin-left: 25px;
  font-size: 13px;
  display: flex;
  gap: 5px;
  margin-top: 25px;
}

.securedPayment .secure {
  font-size: 18px;
  gap: 15px;
}

.securedPayment .methordes,
.getinTouch .ways {
  display: flex;
  align-items: center;
  color: #0347A0;
  font-size: 35px;
  justify-content: space-around;
  margin-top: 20px;
}

.whyThisGameWrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyThisGame {
  width: 291px;
  height: 372px;
  background-color: #0347A0;
  border-radius: 15px;
  padding: 15px 25px;
}

.whyThisGameWrapper .whyThisGame h2 {
  color: #055CCD;
  font-weight: 600;
  font-size: 20px;
}

.whyThisGameWrapper .whyThisGame p {
  font-size: 14px;
  color: #055CCD;
  font-weight: 500;
  margin-top: 14px;
}

.getinTouch {
  margin-left: 25px;
}

.getinTouch .ways {
  margin-top: 40px;
  color: #0958c0;
  margin-bottom: 20px;
}

.loginPageContanior,
.signPageContanior {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContanior,
.signContanior {
  width: 324px;
  height: 383px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 71, 160, 0.5));
  border-radius: 15px;
  padding: 20px 20px;
}

.signContanior {
  height: 530px;
}

.varifyContanior {
  height: 282px;
}

.loginContanior .text,
.signContanior .text {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContanior input,
.signContanior input {
  width: 100%;
  height: 49px;
  background: linear-gradient(to right, #0347A0, #011A3A);
  outline: none;
  border: none;
  border-radius: 15px;
  margin-top: 35px;
  padding-left: 20px;
  color: #135ec1;
  font-size: 13px;
}

.varifyContanior input {
  margin-top: 20px;
}

.loginContanior input::placeholder,
.signContanior input::placeholder {
  color: #135ec1;
  font-size: 13px;
}

.loginContanior p,
.signContanior p {
  font-size: 12px;
  color: #135ec1;
  text-align: end;
  margin-top: 10px;
}

.varifyContanior p {
  text-align: left;
  margin-top: 30px;
  margin-left: 5px;
}

.loginContanior button,
.signContanior button {
  width: 107px;
  height: 37px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(to right, #0347A0, #011A3A);
  color: #135ec1;
  margin-top: 35px;
}

.userDetails {
  padding: 15px;
}

.userDetails .mainDetails {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.userDetails .mainDetails .image {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: #022B60;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.userDetails .mainDetails .image #user {
  font-size: 35px;
  color: #0851b0;
}

.userDetails .details {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.userDetails .details .username,
.userDetails .details .upiId,
.userDetails .normDetails .email,
.userDetails .normDetails .phoneNo {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.userDetails .normDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.userDetails .normDetails .email,
.userDetails .normDetails .phoneNo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userDetails .normDetails .phoneNo {
  gap: 25px;
}

.userDetails .normDetails .email #emailIcon {
  font-size: 25px;
  color: #0a6df0;
}

.userDetails .normDetails .phoneNo #phoneIcon {
  font-size: 18px;
  color: #0a6df0;
}

.gameProgress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.gameProgress .card {
  width: 324px;
  height: 320px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 61, 136, 0.5));
  border-radius: 15px;
  padding: 20px 20px;
}

.gameProgress .card .progressBoard {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 24px;
}

.gameProgress .card .progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.gameProgress .card .progress .box {
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
}

.blue {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0660d4 12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.playMainSection .instructions .instructionHeading {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin: 20px 20px;
}

.playMainSection .instructions .instruction {
  color: #0347A0;
  font-size: 13px;
  margin: 20px 30px 20px 45px;
}

.playMainSection .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playMainSection .createMatch {
  width: 228px;
  height: 37px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(to right, #0347A0, #011A3A);
  color: #135ec1;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contanior {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 324px;
  height: 282px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 71, 160, 0.5));
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 24px;
  color: #135ec1;
}

.betting .card .center {
  text-align: center;
}

.betting .card .center .bets {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.betting .card .center .bets .bet {
  width: 82px;
  height: 33px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 71, 160, 0.5));
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.betting .card .center .btnContanior {
  display: flex;
  align-items: center;
  justify-content: center;
}

.betting .card .center .okBtn {
  width: 228px;
  height: 37px;
  background: linear-gradient(to right, #0347A0, #011A3A);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 15px;
}

.betting .card .center .cancleBtn {
  width: 137px;
  height: 37px;
  background: linear-gradient(to right, #0347A0, #011A3A);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 15px;
}

.game .text {
  font-size: 13px;
  margin-top: 6px;
}

.game .card {
  height: 300px;
}

.game .card .hint {
  text-align: center;
  margin-top: 10px;
}

.game .guess {
  width: 132px;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(to right, #0347A0, #011A3A);
  border: none;
  padding-left: 10px;
  color: #135ec1;
  outline: none;
  margin-top: 20px;
}

.game .guess::placeholder {
  color: #135ec1;
  font-size: 10px;
}

.game .roundBet {
  justify-content: space-around;
  margin-top: 15px;
}

.button {
  border-radius: 15px;
  background: linear-gradient(to right, #0347A0, #011A3A);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 37px;
  font-size: 13px;
  margin-top: 20px;
}

.direction_col {
  flex-direction: column;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.centerAll .main {
  font-size: 24px;
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}

.centerAll .text {
  font-size: 12px;
}

.result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.matchResult {
  width: 324px;
  height: 307px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 71, 160, 0.5));
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 24px;
  color: #135ec1;
}

.conclusion {
  width: 324px;
  height: 128px;
  background: linear-gradient(to bottom, rgba(1, 26, 58, 0.5), rgba(3, 71, 160, 0.5));
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 24px;
  color: #135ec1;
}

.result .matchResult .text {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.result .matchResult .resultComliment {
  font-size: 18px;
  margin-top: 6px;
}

.result .matchResult .resultsOverview {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.result .matchResult .resultsOverview .results {
  margin-top: 12px;
}

.result .matchResult .resultsOverview .rounds {
  margin-top: 12px;
}

.line {
  width: 250px;
  background-color: #02214B;
  height: 1px;
  margin-top: 25px;
}

.result .matchResult .total .calculatedTotal {
  font-size: 18px;
  margin-top: 15px;
}

.result .conclusion {
  text-align: center !important;
}

.eighteen {
  font-size: 18px;
}

.result .conclusion button {
  width: 107px;
  height: 37px;
  border-radius: 15px;
  border: none;
  margin-top: 8px;
  background: linear-gradient(to right, #0347A0 0%, #011A3A 100%);
  color: #0347A0;
}

.paymentSucess .text {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
}

.paymentSucess .button {
  width: 228px;
  height: 37px;
  border: none;
  color: #0347A0;
}

.paymentSucess .card .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.selected {
  background-color: #1261C8 !important;
}

.history .main {
  padding: 20px;
}

.history .main .heading {
  background: -webkit-linear-gradient(180deg, #011A3A 0%, #0347A0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.tranctions {
  max-height: 80vh;
  overflow: scroll;
}

.duo {
  display: flex;
  align-items: center;
}

.tranction {
  justify-content: space-between;
  font-size: 18px;
  color: #2a60a7;
  margin-top: 20px;
}

.tranctions .line {
  margin-top: 10px;
  width: 100%;
}