* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-weight: 400;
}

body {
  height: 1706px;
  width: 100vw;
  background: linear-gradient(to top, #0347A0, #011a3a);
}

/* COMPONENTS styles */

.nav {
  display: flex;
}

.nav .logo {
  background: -webkit-linear-gradient(180deg, #011A3A 62%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  padding: 15px;
  font-size: 28px;
}

.nav .actionBtns {
  width: 50%;
  padding: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .actionBtns .login {
  background: -webkit-linear-gradient(180deg, #011A3A 00%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.nav .actionBtns .signup {
  background: -webkit-linear-gradient(180deg, #011A3A 00%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.dividerContanior {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider {
  /* width: 91px; */
  height: 3px;
  background: linear-gradient(to right, #0347A0, #011a3a);
  border-radius: 10px;
}



/* Pages Styles */

/* Home page */

/* Intro section */

.introSection {
  padding: 30px 25px;
}

.introSection .introductionSection .big1 {
  background: -webkit-linear-gradient(180deg, #011A3A 60%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.introSection .introductionSection .big2 {
  background: -webkit-linear-gradient(180deg, #011A3A 35%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  margin-top: 8px;
}

.introSection .introductionSection .big3 {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  margin-top: 8px;
}

.introSection .actionSection .playNow {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin: 40px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.introSection .actionSection .playNow #playIcon {
  color: #0347a036;
}

/* Features and Rules section */

.featuresAndRules {
  margin: 25px;
}

.featuresAndRules .featuresSection .topic,
.featuresAndRules .rulesSection .topic {
  background: -webkit-linear-gradient(180deg, #011A3A 6%, #0347A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin: 40px 0 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featuresAndRules .featuresSection .feature,
.featuresAndRules .rulesSection .rule {
  color: #0347A0;
  margin-left: 25px;
  font-size: 13px;
  display: flex;
  gap: 5px;
  margin-top: 25px;
}